/* Importamos todos los partials que creamos
para poder compilarlos al CSS  */
/*Importamos todos los partials que vamos a utilizar, en este caso
variables, listas y mapas */
/* variables */
/* Las variables son secciones reservadas en memoria para almacenar datos 
Son espacios que nos guardan informacion */
/* Para declarar una variable tengo que poner el signo
pesos $, seguido del nombre que le quiero dar a esa variable, despues : y el valor */
/* Ejemplos de variables */
/* lista */
/* Con las listas puedo agrupar estilos que sean de la misma familia 
que quiere decir esto? En vez de andar escribiendo cada variable,
le pongo un nombre a esa lista y con coma , separo los valores
tengan en cuenta que las listas se cierra la lista con ;*/
/* Ejemplo de lista, de mi paleta de colores*/
/* Ejemplo de lista de los font-size de mi sitio */
/* Con nth utilizo las lista,
primero pongo el nombre de la lista, y despues por ejemplo en este caso,
el numero del color / font-size */
a {
  font-size: 16px;
  background-color: #0d6efd;
  text-decoration: none;
}

a:hover {
  background-color: #00548a;
}

/* mapas */
/* Los mapas a diferencia de las listas nos permiten crear como una lista
pero de un monton de estilos agrupados y no necesiariamente de la misma 
familia, no es que tienen que ser  todos colores, o todas tipografias */
/* El mapa se escribe como las variables o listas con el $, pero se abre abre parentesis
despues de los dos puntos */
/* Para llamar a un mapa, traigo la funcion map-get y entre los parentesis
primero va el nombre del mapa, y seguido de la coma la propiedad que quiero aplicar */
.boton {
  background-color: black;
  border: 2px solid tomato;
}

/* Otro ejemplo de mapa */
/* Generamos el nesting o anidamiento segundo nuestra estructura HTML */
header {
  /*background-color: $bg-color-general;*/
  background-color: black;
  /* media query */
}
header nav ul {
  list-style: none;
}
header nav ul li {
  list-style: circle;
}
header nav ul li a {
  text-decoration: underline;
  /* Con el signo del ampersand & podemos agregar 
  pseudoclases y pseudoelementos dentro de cada 
  clase / etiqueta o ID en donde lo necesitemos implementar */
}
header nav ul li a:hover {
  color: grey;
}
@media screen and (max-width: 750px) {
  header nav ul li a {
    text-decoration: dotted;
    color: grey;
    background-color: grey;
  }
}
@media screen and (max-width: 450px) {
  header {
    background-color: orange;
  }
}

/* footer*/
.bg-imgfooter .d-flex {
  color: aliceblue;
}
.bg-imgfooter .d-flex a {
  color: aliceblue;
}
.bg-imgfooter .d-flex a .col-lg-8.col-md-6 {
  color: aliceblue;
}
.bg-imgfooter .d-flex a .col-lg-8.col-md-6 li {
  color: aliceblue;
}
.bg-imgfooter .d-flex a .col-lg-8.col-md-6 li .text-secondary mb-2 {
  color: aliceblue;
}
.bg-imgfooter .d-flex a .col-lg-8.col-md-6 li .text-secondary mb-2 .lifoot {
  color: aliceblue;
  text-decoration: none;
}
.bg-imgfooter .d-flex a .col-lg-8.col-md-6 li .text-secondary mb-2 .lifoot .fab {
  color: aliceblue;
}

footer .bg-imgfooter {
  background-color: #00548a;
}

/* En este partial lo que hacemos es setear todos los estilos generales
de nuestro sitio */
* {
  margin: 0;
  padding: 0;
}

/* lista */
/* Con las listas puedo agrupar estilos que sean de la misma familia 
que quiere decir esto? En vez de andar escribiendo cada variable,
le pongo un nombre a esa lista y con coma , separo los valores
tengan en cuenta que las listas se cierra la lista con ;*/
/* Ejemplo de lista, de mi paleta de colores*/
/* Ejemplo de lista de los font-size de mi sitio */
/* Con nth utilizo las lista,
primero pongo el nombre de la lista, y despues por ejemplo en este caso,
el numero del color / font-size */
a {
  font-size: 16px;
  background-color: #0d6efd;
  text-decoration: none;
}

a:hover {
  background-color: #00548a;
}

/* variables */
/* Las variables son secciones reservadas en memoria para almacenar datos 
Son espacios que nos guardan informacion */
/* Para declarar una variable tengo que poner el signo
pesos $, seguido del nombre que le quiero dar a esa variable, despues : y el valor */
/* Ejemplos de variables */
/* mapas */
/* Los mapas a diferencia de las listas nos permiten crear como una lista
pero de un monton de estilos agrupados y no necesiariamente de la misma 
familia, no es que tienen que ser  todos colores, o todas tipografias */
/* El mapa se escribe como las variables o listas con el $, pero se abre abre parentesis
despues de los dos puntos */
/* Para llamar a un mapa, traigo la funcion map-get y entre los parentesis
primero va el nombre del mapa, y seguido de la coma la propiedad que quiero aplicar */
.boton {
  background-color: black;
  border: 2px solid tomato;
}

/* Otro ejemplo de mapa */

/*# sourceMappingURL=style.css.map */
