/* Importamos todos los partials que creamos
para poder compilarlos al CSS  */
/*Importamos todos los partials que vamos a utilizar, en este caso
variables, listas y mapas */
/* lista */
/* paleta de colores*/
/* font-size de mi sitio */
/* lista color de TXT*/
/* Con nth utilizo las lista,
primero pongo el nombre de la lista, y despues por ejemplo en este caso,
el numero del color / font-size */
a {
  font-size: 22px;
  background-color: rgba(255, 255, 255, 0);
  text-decoration: none;
  color: white;
}

a:hover {
  background-color: rgba(255, 136, 0, 0.4196078431);
}

/* mapas */
/* Los mapas a diferencia de las listas nos permiten crear como una lista
pero de un monton de estilos agrupados y no necesiariamente de la misma 
familia, no es que tienen que ser  todos colores, o todas tipografias */
/* El mapa se escribe como las variables o listas con el $, pero se abre abre parentesis
despues de los dos puntos */
/* Para llamar a un mapa, traigo la funcion map-get y entre los parentesis
primero va el nombre del mapa, y seguido de la coma la propiedad que quiero aplicar */
.boton {
  background-color: black;
}

/* Otro ejemplo de mapa */
/* Generamos el nesting o anidamiento segundo nuestra estructura HTML */
header {
  /*background-color: $bg-color-general;*/
  background-color: #00548a;
  /* media query */
}
header nav ul {
  list-style: none;
}
header nav ul li a {
  text-decoration: underline;
  /* Con el signo del ampersand & podemos agregar 
  pseudoclases y pseudoelementos dentro de cada 
  clase / etiqueta o ID en donde lo necesitemos implementar */
}
header nav ul li a:hover {
  color: grey;
}
@media screen and (max-width: 750px) {
  header nav ul li a {
    text-decoration: dotted;
    color: grey;
    background-color: grey;
  }
}
@media screen and (max-width: 510px) {
  header {
    background-color: orange;
  }
}

/* footer*/
footer .container-fluid {
  background-color: #00548a;
}
footer .container-fluid .container {
  background-color: #00548a;
}
footer .container-fluid .container .text-primary {
  color: white;
}
footer .container-fluid .container .text-primary .row {
  background-color: white;
}
footer .container-fluid .container .text-primary .row p {
  color: white;
}
footer .container-fluid .container .text-primary .row .col-lg-4 {
  background-color: #0d6efd;
  color: white;
}
footer .container-fluid .container .text-primary .row .col-lg-4 p {
  color: azure;
}
footer .container-fluid .container .text-primary .row .col-lg-4 .d-flex {
  color: white;
}
footer .container-fluid .container .text-primary .row .col-lg-4 a {
  background-color: #0d6efd;
}
footer .container-fluid .container .text-primary .row .col-lg-4 a:hover {
  color: rgba(255, 136, 0, 0.4196078431);
}

/* En este partial lo que hacemos es setear todos los estilos generales
de nuestro sitio */
* {
  margin: 0;
  padding: 0;
}

.fab {
  color: antiquewhite;
}

/* lista */
/* paleta de colores*/
/* font-size de mi sitio */
/* lista color de TXT*/
/* Con nth utilizo las lista,
primero pongo el nombre de la lista, y despues por ejemplo en este caso,
el numero del color / font-size */
a {
  font-size: 22px;
  background-color: rgba(255, 255, 255, 0);
  text-decoration: none;
  color: white;
}

a:hover {
  background-color: rgba(255, 136, 0, 0.4196078431);
}

/* mapas */
/* Los mapas a diferencia de las listas nos permiten crear como una lista
pero de un monton de estilos agrupados y no necesiariamente de la misma 
familia, no es que tienen que ser  todos colores, o todas tipografias */
/* El mapa se escribe como las variables o listas con el $, pero se abre abre parentesis
despues de los dos puntos */
/* Para llamar a un mapa, traigo la funcion map-get y entre los parentesis
primero va el nombre del mapa, y seguido de la coma la propiedad que quiero aplicar */
.boton {
  background-color: black;
}

/* Otro ejemplo de mapa */

/*# sourceMappingURL=style.css.map */
