/* footer*/

.bg-imgfooter {
   
  .d-flex {
    color: aliceblue;
  
  
   a {
    color: aliceblue;
  
  
  .col-lg-8.col-md-6 {
    color: aliceblue;
  
  
   li {
    color: aliceblue;
  
  
  .text-secondary mb-2 {
    color: aliceblue;
  
  
  .lifoot {
    color: aliceblue;
    text-decoration: none;
  
  
  .fab {
    color: aliceblue;}}}}}}}}  
  
  


    footer{ 
      .bg-imgfooter{ background-color: #00548a; 
      }}