/* variables */

/* Las variables son secciones reservadas en memoria para almacenar datos 
Son espacios que nos guardan informacion */

/* Para declarar una variable tengo que poner el signo
pesos $, seguido del nombre que le quiero dar a esa variable, despues : y el valor */

/* Ejemplos de variables */

$bg-color-general: orange;
$font-size: 22px;
$border-productos: 2px solid black;